<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<div *ngIf = "(authService.getUser()|async)">
<p *ngIf = "!(posts$ | async)"> loading posts... </p>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
        <b>POST:</b>
        <br>
        {{post.body}}
        <br>
        <button mat-raised-button color="warn" (click) = deletePost(post.id)>DELETE</button>
        &nbsp;
        <button mat-raised-button color="primary" (click)="addLike (post.id,post.Like)">LIKE</button>
        &nbsp;
        <b>Likes :</b> {{post.Like}}
    </mat-expansion-panel>
  </mat-accordion>
</div>