<div *ngIf = "!(authService.getUser()|async)">
    <h2>Welcome</h2>
    you need to login or sign-up
</div>

<div *ngIf = "(authService.getUser()|async)">
    <h2>Welcome: {{email}}</h2>
    logged in successfully
</div>
