<p *ngIf = "!(authService.getUser()|async)">you need to login or sign-up</p>
<div *ngIf = "(authService.getUser()|async)">
<p *ngIf = "!(posts$ | async)"> loading the posts... </p>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.id}} : {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
        <b>POST:</b>
        <br>
        {{post.body}}
        <br>
        <b>COMMENTS:</b>
        <div *ngFor="let comment of comments$ | async">
            <div *ngIf = "comment.postId == post.id;other"> <b> # </b>{{comment.body}}</div>
        </div>
        <div ng-controller="myCtrl">
          <button mat-raised-button color="primary" (click)="savePost(post.title,post.body,post.id)">Save Post</button>
          <p *ngIf = "post.id == postId">{{message}}</p>
      </div>   
    </mat-expansion-panel>
  </mat-accordion>
</div>